.App {
  background-color: yellow;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
section {
  background-color: #bdedef;
  flex-grow: 1;
  display: flex;
}
input {
  padding: 20px;
  font-size: 2em;
  font-family: monospace;
  outline: none;
}
img {
  width: 110px;
  height: 65px;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-end {
  align-items: flex-end;
}
